<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peekaboo"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.rm.rmswitch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission-sdk-21 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".presentation.PeekabooApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.animation.DepthAnimation" />
        <activity
            android:name=".presentation.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.LogInActivity"
            android:theme="@style/SignInTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presentation.activities.SignUpActivity"
            android:taskAffinity=""
            android:theme="@style/SignUpTheme">

            <!-- android:excludeFromRecents="true" -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presentation.activities.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.ChatActivity"
            android:theme="@style/ChatActivityTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".presentation.activities.TestSmsChatActivity" />

        <activity
            android:name=".presentation.activities.MapActivity"
            android:theme="@style/ChatActivityTheme">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />

        <!-- <receiver -->
        <!-- android:name=".presentation.services.ApplicationStartedReceiver" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.peekaboo.start" /> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service -->
        <!-- android:name=".presentation.services.NotificationService" -->
        <!-- android:enabled="true" /> -->
        <receiver
            android:name=".presentation.services.ApplicationStartedReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.peekaboo.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".utils.VolumeBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.peekaboo.userMode.normal" />
                <action android:name="com.peekaboo.userMode.silent" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />
        </intent-filter>
        </receiver>

        <receiver
            android:name=".presentation.services.SmsReceiver"
            android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".presentation.services.NotificationService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBgvfOAHtAXloBsf4lD5VrSRM4kiej40b0" />

    </application>

</manifest>